{% extends "nav.html" %}
{% block content %}
{% load static %}

  <!-- sale section -->

  <section class="sale_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Flats For Sale
        </h2>
        <p>
          There are many variations of passages of Karana's paradise are available 
          <b>
            <h5>Starts from 50 Lakhs Onwords</h5>
          </b>
        </p>
      </div>
      <div class="sale_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/a1.jpg' %}" alt="" height="250px" width="100%">
          </div>
          <div class="detail-box">
            <h3>𝕂𝔸ℝℕ𝔸'𝕊 ℙ𝔸ℝ𝔸𝔻𝕀𝕊𝔼</h3>
            <p>
              <h4>Whitefield</h4>
              There are 2 BHK, 3 BHK flats available
              <b>
                <h6>Starts frome 50 Lakhs Onwords</h6>
              </b>
            </p>
           </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/a2.jpg' %}" alt="" height="250px" width="100%">
          </div>
          <div class="detail-box">
            <h3>𝕂𝔸ℝℕ𝔸'𝕊 ℙ𝔸ℝ𝔸𝔻𝕀𝕊𝔼</h3>
            <p>
              <h4>Electronic City</h4>
              There are 2 BHK, 3 BHK flats available 
              <b>
                <h6>Starts frome 50 Lakhs Onwords</h6>
              </b>           
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/a3.jpg' %}" alt="" height="250px" width="100%">
          </div>
          <div class="detail-box">
            <h3>𝕂𝔸ℝℕ𝔸'𝕊 ℙ𝔸ℝ𝔸𝔻𝕀𝕊𝔼</h3>
            <p>
              <h4>Kanakpura Road</h4>
              There are 2 BHK, 3 BHK flats available 
              <b>
                <h6>Starts frome 50 Lakhs Onwords</h6>
              </b>          
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/a4.jpg' %}" alt="" height="250px" width="100%">
          </div>
          <div class="detail-box">
            <h3>𝕂𝔸ℝℕ𝔸'𝕊 ℙ𝔸ℝ𝔸𝔻𝕀𝕊𝔼</h3>
            <p>
              <h4>Yelahanka</h4>
              There are 2 BHK, 3 BHK flats available 
              <b>
                <h6>Starts frome 50 Lakhs Onwords</h6>
              </b>           
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/a5.jpg' %}" alt="" height="250px" width="100%">
          </div>
          <div class="detail-box">
            <h3>𝕂𝔸ℝℕ𝔸'𝕊 ℙ𝔸ℝ𝔸𝔻𝕀𝕊𝔼</h3>
            <p>
              <h4>HSR Layout</h4>
              There are 2 BHK, 3 BHK flats available 
              <b>
                <h6>Starts frome 50 Lakhs Onwords</h6>
              </b>          
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/a6.jpg' %}" alt="" height="250px" width="100%">
          </div>
          <div class="detail-box">
            <h3>𝕂𝔸ℝℕ𝔸'𝕊 ℙ𝔸ℝ𝔸𝔻𝕀𝕊𝔼</h3>
            <p>
              <h4>Sarjapur</h4>
              There are 2 BHK, 3 BHK flats available  
              <b>
                <h6>Starts frome 50 Lakhs Onwords</h6>
              </b>          
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end sale section -->

<!-- info section -->
<section class="info_section">
  <div class="container">
    <div class="row">
      <!-- About Project -->
      <div class="col-md-3">
        <div class="info_contact">
          <h5>About Project</h5>
          <div>
            <div class="img-box">
              <img src="{% static 'images/location.png' %}" width="18px" alt="Location Icon">
            </div>
            <p>Department of MCA, VTU, Bengaluru</p>
          </div>
          <div>
            <div class="img-box">
              <img src="{% static 'images/phone.png' %}" width="12px" alt="Phone Icon">
            </div>
            <p>+91 6360221160</p>
          </div>
          <div>
            <div class="img-box">
              <img src="{% static 'images/mail.png' %}" width="18px" alt="Email Icon">
            </div>
            <p>karanshousemintai@gmail.com</p>
          </div>
        </div>
      </div>

      <!-- Project Info -->
      <div class="col-md-3">
        <div class="info_info">
          <h5>Project Overview</h5>
          <p>
            Housemint-AI is an intelligent real estate web app that predicts house prices using machine learning and historical housing data. Designed for transparency, speed, and insight-driven decisions.
          </p>
        </div>
      </div>

      <!-- Technical Details -->
      <div class="col-md-3">
        <div class="info_links">
          <h5>Technology Stack</h5>
          <ul>
            <li><a href="#">Python & Django (Backend)</a></li>
            <li><a href="#">Scikit-learn & Pandas (ML)</a></li>
            <li><a href="#">HTML, CSS, JS (Frontend)</a></li>
            <li><a href="#">CSV Dataset, Static Files</a></li>
          </ul>
        </div>
      </div>

      <!-- Newsletter & Social -->
      <div class="col-md-3">
        <div class="info_form">
          <h5>Newsletter</h5>
          <form action="">
            <input type="email" placeholder="Enter your email">
            <button>Subscribe</button>
          </form>
          <div class="social_box">
            <a href="#"><img src="{% static 'images/fb.png' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'images/twitter.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a>
            <a href="#"><img src="{% static 'images/youtube.png' %}" alt="YouTube"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">KARNA</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>

  {% endblock %}