{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  
  <title>KARNA'S PARADISE</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  <style>
    /* Added justification styling */
    .justify-text {
      text-align: justify;
      text-justify: inter-word;
    }
  </style>
</head>

<body>
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/karan1logo.png' %}" alt="" />
          </a>
          <div class="navbar-collapse" id="">
            <ul class="navbar-nav justify-content-between ">
              <div class="User_option">
                <li class="">
                  <a class="mr-4" href="login">Login</a>
                  <a class="" href="register1">Sign up</a>&nbsp;&nbsp;&nbsp;
                  <a class="" href="adminlogin">Admin Login</a>
                </li>
              </div>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                <span>KARNA'S PARADISE</span><br>
                HouseMintAI <br>
              </h1>
              <p class="justify-text">
                Karna's Paradise is a luxurious and exclusive property development offering an unparalleled living experience. Located in a prime, serene area, it combines opulence with nature, featuring spacious, architecturally innovative homes surrounded by lush landscapes and state-of-the-art amenities. The development promises an ideal balance of privacy and community, with meticulously designed residences offering stunning views, high-end finishes, and advanced smart home technology. Its facilities include world-class gyms, resort-style swimming pools, gourmet dining, and recreational spaces. This is a haven for those seeking an elite lifestyle with modern convenience, sophistication, and comfort.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>
</html>
